<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-dark">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-dark">
      <h1 class="title">Account</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <div class="item item-divider positive">
          Account
        </div>              
        <ion-item nav-clear menu-close ui-sref-active="activated" ui-sref="app.login">
          Login
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>

  <ion-side-menu side="right">
    <header class="bar bar-header bar-dark">
      <h1 class="title">Registry</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <div class="item item-divider positive">
          Registry
        </div>
        <ion-item nav-clear menu-close href="#/app/search">
          Search
        </ion-item>
        <ion-item nav-clear menu-close ui-sref-active="activated" ui-sref="app.genes">
          <i class="icon ion-man"></i>
          Genes
        </ion-item>
        <ion-item nav-clear menu-close ui-sref-active="activated" ui-sref="app.tests">
          <i class="icon ion-man"></i>
          Tests
        </ion-item>
        <ion-item nav-clear menu-close ui-sref-active="activated" ui-sref="app.laboratories">
          <i class="icon ion-man"></i>
          Labs
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
